
/* Mixins */
@mixin menustyle {
	float: left;
	list-style: none;
}

@mixin border ($type, $size, $color) {
  border-#{$type}-width: $size;
  border-#{$type}-style: solid;
  border-#{$type}-color: $color;
}


/* Variables */

/* Generic colors */
$med-blue: #477aa6;
$lt-blue: #9bc7ed;
$gray: #5C6470;
$lt-bluegray: #c2ccd0;
$white: #fff;
$black: #000;

/* NHS colors */
$red: #B51927;
$teal: #31A9AB;
$dk-blue: #0C3F79;
$dk-gray: #8B97A2;
$lt-gray: #B9C1C7;

/* fonts */
$body-font: 'OpenSansLight';
$bold-font: 'OpenSansBold';
$lt-font: 'OpenSansLight';
$reg-font: 'OpenSansRegular';

    
$header-color: $white;
$header-padding: 25px 0 30px;

$search-position: 20px 0 0 0;
$content-area-color: $white;

$hero-position: 50px 0 0 30px;
$hero-size: 3.0em;
$hero-color: $white;
$hero-style: $bold-font;
$hero-img-ht: 348px;
$hero-img-img: url('../images/hero.jpg') 0 0 no-repeat;



/* navbar */
$nav-color: $white;
$navlink-bkgrd-active: $red;
$navlink-link: $red;
$navlink-link-active: $white;
$navlink-padding: 15px 15px 15px 15px;
$navlink-size: 22px;
$navlink-font: 'OpenSansRegular';

/* submenu */
$submenu-color: $white;
$submenu-link-bkgrd-active: none;
$submenu-link-link: $red;
$submenu-link-link-active: $red;
$submenu-link-padding: 15px 15px 15px 15px;
$submenu-link-size: 1.1em;
$submenu-link-font: $reg-font;


/* Main content */
$body-color: $black;
$body-size: 1.45em;
$body-height: 1.5em;
$link-color: $red;

$main-container-margin: 70px 0 0 0;
$main-content-margin: 0 0 120px 50px;


$h1-size: 2.2em;
$h1-color: $dk-blue;
$h1-style: $lt-font;
$h1-height: 1.2em;;

$h2-size: 1.35em;
$h2-color: $black;
$h2-style: $reg-font;
$h2-height: 1.5em;;
$h2-margin: 20px 0 0 0;

$h3-size: 1.0em;
$h3-color: $black;
$h3-style: $bold-font;
$h3-height: 1.0em;
$h3-margin: 20px 0 3px 0;



$footer-color: $lt-gray;
$footer-border-color: $dk-gray;




$footer-legal-size: 1.1em;
$footer-font-color: $white;

h1, h2, h3, h4, strong {
  font-weight: normal;
}

strong {
  font-family: $bold-font;
}
